body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.margin-top-20{
    margin-top:20px;
}

.btn-default {
    color: black;
    background-color: lightgray;
    border-color: black;
}

.btn-default:hover {
    color: black;
    background-color: darkgray;
    border-color: black;
}

.btn-default:focus, .btn-default.focus {
    color: lightgray;
    background-color: lightgray;
    border-color: black;
    box-shadow: 0 0 0 0.2rem rgba(25, 25, 25, 0.5);
}

.btn-default.disabled, .btn-default:disabled {
    color: black;
    background-color: white;
    border-color: lightgray;
}

.btn-default:not(:disabled):not(.disabled):active, .btn-default:not(:disabled):not(.disabled).active,
.show > .btn-default.dropdown-toggle {
    color: white;
    background-color: lightgray;
    border-color: black;
}

.btn-default:not(:disabled):not(.disabled):active:focus, .btn-default:not(:disabled):not(.disabled).active:focus,
.show > .btn-default.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(25, 25, 25, 0.5);
}