/ATMsimulation.Tests/*
/packages/*
/ATMsimulation/Scripts/*
/ATMsimulation/Migrations

ATMSimulation.csproj
ATMsimulation.csproj.user
favicon.ico
Global.asax
Global.asax.cs
packages.config
Startup.cs
Web.config
Web.Debug.config
Web.Release.config