/ATMsimulation.Tests/*
/packages/*
/ATMsimulation/Scripts/*
/ATMsimulation/Migrations
/ATMsimulation/App_Data/*
/ATMsimulation/App_Start/*
/ATMsimulation/bin/*
/.vs/*
/ATMsimulation/obj/*


ATMSimulation.csproj
ATMsimulation.csproj.user
favicon.ico
Global.asax
Global.asax.cs
packages.config
Startup.cs
Web.config
Web.Debug.config
Web.Release.config