@{
    ViewBag.Title = "Contact";
}

<h2>@ViewBag.Title.</h2>


<address>
    Joshua Beaty<br />
    Wichita Falls, TX, 76308<br />
    <span class="fa fa-phone"></span> 214-609-2537<br />
    <span class="fa fa-envelope"></span><a href="mailto:joshua.a.beaty@gmail.com"> joshua.a.beaty@gmail.com</a><br />
</address>

<div id="formSection">
    <h3>@ViewBag.TheMessage</h3>
    <small>This doesn't send anywhere.</small>
    <form method="post" id="contactForm">
        <div><textarea name="message" id="message" maxlength="150" data-bind="value:message,valueUpdate:'input'"></textarea></div>
        <div class="small"><span data-bind="text:charactersRemaining "></span> characters remaining</div>
        <div><input type="submit" value="Send" /></div>
    </form>
    <img src="~/Content/Images/ProgressIcon.gif" id="progress" style="display:none;" sizes="50px" />
</div>

@section scripts
{
    <script src="~/Scripts/knockout-3.5.1.js"></script>
    <script>
        function ContactViewModel() {
            var self = this;
            self.message = ko.observable('');
            self.charactersRemaining = ko.computed(function () {
                return 150 - self.message().length;
            });
        }
        ko.applyBindings(new ContactViewModel());
    </script>

    <script>
        $('#contactForm').submit(function () {
            $('#progress').show();
            $.post('', { message: $('#message').val() })
                .done(function (response) {
                    setTimeout(function () { $('#formSection').html(response); }, 1000);
                });
            return false;
        });
    </script>
}